<div class="listing">
  <table>
    <tr>
      <th *ngFor="let col of columns" i18n>{{ col }}</th>
    </tr>
    <tr *ngFor="let m of movieList" class="listing">
      <td>
        <a>
          {{ m.name }}
        </a>
      </td>
      <td i18n>
        {{ getCategory(m.category) }}
      </td>
      <td>
        {{ m.releaseDate }}
      </td>
      <td>
        {{ m.director }}
      </td>
      <td *ngIf="m.available == true" i18n>Sim</td>
      <td *ngIf="m.available == false" i18n>Não</td>
      <td>
        <button
          mat-button
          mat-raised-button
          color="warn"
          (click)="deleteMovie(m)"
          i18n
        >
          Apagar
        </button>
      </td>
      <td>
        <button
          mat-button
          mat-raised-button
          color="basic"
          routerLink="{{ m._id }}"
          (click)="getMovie(m)"
          i18n
        >
          Editar
        </button>
      </td>
    </tr>
  </table>
</div>
