<mat-card>
  <mat-card-content>
    <div class="header">
      <h2>Alugar filme</h2>
    </div>

    <form [formGroup]="rentForm">
      <div class="field-input">
        <mat-form-field appearance="fill">
          <mat-label>Filmes</mat-label>
          <mat-select formControlName="movieName">
            <mat-option *ngFor="let movie of movieList" [value]="movie._id">{{
              movie.name
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="rentForm.get('movieName').hasError('required')">
            Filme é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Clientes</mat-label>
          <mat-select formControlName="clientName">
            <mat-option *ngFor="let people of peopleList" [value]="people._id">{{
              people.name
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="rentForm.get('clientName').hasError('required')">
            Cliente é obrigatório
          </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Atendente</mat-label>
          <mat-select formControlName="atendente">
            <mat-option *ngFor="let attendant of attendantList" [value]="attendant._id">{{
              attendant.name
            }}</mat-option>
          </mat-select>
          <mat-error *ngIf="rentForm.get('atendente').hasError('required')">
            Atendente é obrigatório
          </mat-error>
        </mat-form-field>
      </div>
      <div class="field-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label> Data de retirada </mat-label>
          <input
            formControlName="withdrawDate"
            matInput
            placeholder="01/01/1990"
            mask="d0/M0/0000"
          />
          <mat-error
            *ngIf="rentForm.get('withdrawDate').hasError('required')"
          >
            Data de retirada é obrigatória
          </mat-error>
          <mat-error
            *ngIf="rentForm.get('withdrawDate').hasError('pattern')"
          >
            Valor inserido não segue o padrão DD/MM/AAAA
          </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width" appearance="outline">
          <mat-label> Data de devolução </mat-label>
          <input
            formControlName="devolutionDate"
            matInput="date"
            placeholder="01/01/1990"
            mask="d0/M0/0000"
          />
          <mat-error
            *ngIf="rentForm.get('devolutionDate').hasError('required')"
          >
            Data de devolução é obrigatória
          </mat-error>
          <mat-error
            *ngIf="rentForm.get('devolutionDate').hasError('pattern')"
          >
            Valor inserido não segue o padrão DD/MM/AAAA
          </mat-error>
        </mat-form-field>
      </div>
      <button mat-flat-button color="primary" (click)="onSubmit()">
        Alugar
      </button>
    </form>
  </mat-card-content>
</mat-card>
