<div class="listing">
  <table>
    <tr>
      <th *ngFor="let col of columns" i18n>{{ col }}</th>
    </tr>
    <tr *ngFor="let p of peopleList">
      <td>
        <a>
          {{ p.name }}
        </a>
      </td>
      <td i18n>
        {{ getSex(p.sex) }}
      </td>
      <td>
        {{ getFormattedDate(p.birthDate) | birthDatePipe }}
      </td>
      <td>
        {{ p.phone | phonePipe }}
      </td>
      <td>
        {{ p.adress }}
      </td>
      <td *ngIf="p.isAtendente == true" i18n>Sim</td>
      <td *ngIf="p.isAtendente == false" i18n>Não</td>
      <td>
        <button
          mat-button
          mat-raised-button
          color="warn"
          (click)="deleteClient(p)"
          i18n
        >
          Apagar
        </button>
      </td>
      <td>
        <button
          mat-button
          mat-raised-button
          color="basic"
          routerLink="{{ p._id }}"
          (click)="getClient(p)"
          i18n
        >
          Editar
        </button>
      </td>
    </tr>
  </table>
</div>
