<div class="listing">
  <table>
    <tr>
      <th *ngFor="let col of columns" i18n>{{ col }}</th>
    </tr>
    <tr *ngFor="let r of rentList" class="listing">
      <td>
        <a>
          {{ r.client.name }}
        </a>
      </td>
      <td>
        {{ r.movie.name }}
      </td>
      <td>
        {{ r.atendente.name }}
      </td>
      <td>
        {{ getFormattedDate(r.rent.stardDate) }}
      </td>
      <td>
        {{ getFormattedDate(r.rent.endDate) }}
      </td>
      <td>
        <button
          mat-button
          mat-raised-button
          color="warn"
          (click)="deleteRent(r.rent)"
          i18n
        >
          Apagar
        </button>
      </td>
    </tr>
  </table>
</div>
