<mat-card>
  <mat-card-content>
    <div class="header">
      <h2 i18n>Login</h2>
    </div>

    <form [formGroup]="loginForm">
      <div class="field-input">
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n> Token </mat-label>
          <input formControlName="token" matInput />
          <mat-error *ngIf="passwordValid() == false" i18n>
            Token obrigatório
          </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width" appearance="outline">
          <mat-label i18n> Senha </mat-label>
          <input formControlName="password" matInput type="password" />
          <mat-error *ngIf="passwordValid() == false" i18n>
            Senha é obrigatória - no mínimo 6 caracteres
          </mat-error>
        </mat-form-field>
      </div>
      <button
        [disabled]="!approveLogin()"
        mat-flat-button
        color="primary"
        routerLink="/main"
        routerLinkActive="active"
        i18n
      >
        Login
      </button>
    </form>
  </mat-card-content>
</mat-card>
